# local only
__pycache__/
__pycache__
.vscode/
.vscode
conda-env/
.env

# large files
checkpoints/**
!checkpoints/.gitkeep

/datasets/**
!/datasets/CD_dataset.py
!/datasets/data_utils.py

/pretrain/**
!/pretrain/.gitkeep

/vis/**
!/vis/.gitkeep
