# local only
data_config.py
__pycache__/
conda-env/
.vscode
# large files
checkpoints/**
!checkpoints/.gitkeep
/datasets/**
!/datasets/CD_dataset.py
!/datasets/data_utils.py
/pretrain/**
!/pretrain/.gitkeep
/vis/**
!/vis/.gitkeep
**/__pycache__/
setup.sh
