# local only
**/__pycache__/
__pycache__/
__pycache__
.vscode/
.vscode
conda-env/
.env
data_config.py

# large files
checkpoints/**
!checkpoints/.gitkeep

/datasets/**
!/datasets/CD_dataset.py
!/datasets/data_utils.py

/pretrain/**
!/pretrain/.gitkeep

/vis/**
!/vis/.gitkeep

# random stuff : )
analyze_false_reports.py
create_visualizations.py
desktop.ini
diagrams/
diff.txt
extract_image_components.py
extract_image_components_README.md
extracted_components/
false_reports_summary.txt
process_vis_images.py
tmp.csv
vis-all/
README.md
